# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Microchip MPLAB8
# =========================
*.mcw
*.p1
*.cof
*.hex
*.sym
*.map
*.hxl
*.lst
*.err
*.rlf
*.pre
*.obj
*.lst
*.rlf
*.sdb
*.mcs
*.as
*.cmf
*.dep

# Microchip MPLABX
# =========================
*.dep
*.d
*.pre
*.p1
*.lst
*.err
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.map

# Microchip MPLABX put in a .gitignore in each MPLABX project directory
# =========================
html/
nbproject/private/
nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
funclist
nbproject/Makefile-*
disassembly/

