// File: 16f877a_g.lkr
// Generic linker script for the PIC16F877A processor

#DEFINE _CODEEND _DEBUGCODESTART - 1
#DEFINE _CEND _CODEEND + _DEBUGCODELEN
#DEFINE _DATAEND _DEBUGDATASTART - 1
#DEFINE _DEND _DATAEND + _DEBUGDATALEN

LIBPATH .

CODEPAGE   NAME=page0      START=0x0               END=0x7FF                    
CODEPAGE   NAME=page1      START=0x800             END=0xFFF                    
CODEPAGE   NAME=page2      START=0x1000            END=0x17FF                   

#IFDEF _DEBUGCODESTART
  CODEPAGE   NAME=page3      START=0x1800            END=_CODEEND
  CODEPAGE   NAME=debug      START=_DEBUGCODESTART   END=_CEND        PROTECTED
#ELSE
  CODEPAGE   NAME=page3      START=0x1800            END=0x1FFF                   
#FI

CODEPAGE   NAME=.idlocs    START=0x2000            END=0x2003         PROTECTED 
CODEPAGE   NAME=devid      START=0x2006            END=0x2006         PROTECTED 
CODEPAGE   NAME=.config    START=0x2007            END=0x2007         PROTECTED 
CODEPAGE   NAME=eedata     START=0x2100            END=0x21FF         PROTECTED 

DATABANK   NAME=sfr0       START=0x0               END=0x1F           PROTECTED
DATABANK   NAME=sfr1       START=0x80              END=0x9F           PROTECTED
DATABANK   NAME=sfr2       START=0x100             END=0x10F          PROTECTED
DATABANK   NAME=sfr3       START=0x180             END=0x18F          PROTECTED

DATABANK   NAME=gpr0       START=0x20              END=0x6F           
DATABANK   NAME=gpr1       START=0xA0              END=0xEF           
DATABANK   NAME=gpr2       START=0x110             END=0x16F          

#IFDEF _DEBUGDATASTART
  DATABANK   NAME=gpr3       START=0x190             END=_DATAEND     
  DATABANK   NAME=dbgspr     START=_DEBUGDATASTART   END=_DEND        PROTECTED
#ELSE //no debug
  DATABANK   NAME=gpr3       START=0x190             END=0x1EF          
#FI


#IFDEF _DEBUGDATASTART
  SHAREBANK  NAME=dbgnobnk   START=0x70            END=0x70           PROTECTED
  SHAREBANK  NAME=dbgnobnk   START=0xF0            END=0xF0           PROTECTED
  SHAREBANK  NAME=dbgnobnk   START=0x170           END=0x170          PROTECTED
  SHAREBANK  NAME=dbgnobnk   START=0x1F0           END=0x1F0          PROTECTED

  SHAREBANK  NAME=gprnobnk   START=0x71            END=0x7F           
  SHAREBANK  NAME=gprnobnk   START=0xF1            END=0xFF           PROTECTED
  SHAREBANK  NAME=gprnobnk   START=0x171           END=0x17F          PROTECTED
  SHAREBANK  NAME=gprnobnk   START=0x1F1           END=0x1FF          PROTECTED
#ELSE
  SHAREBANK  NAME=gprnobnk   START=0x70            END=0x7F           
  SHAREBANK  NAME=gprnobnk   START=0xF0            END=0xFF           PROTECTED
  SHAREBANK  NAME=gprnobnk   START=0x170           END=0x17F          PROTECTED
  SHAREBANK  NAME=gprnobnk   START=0x1F0           END=0x1FF          PROTECTED
#FI

SECTION    NAME=PROG1      ROM=page0           // ROM code space - page0
SECTION    NAME=PROG2      ROM=page1           // ROM code space - page1
SECTION    NAME=PROG3      ROM=page2           // ROM code space - page2
SECTION    NAME=PROG4      ROM=page3           // ROM code space - page3
SECTION    NAME=IDLOCS     ROM=.idlocs         // ID locations
SECTION    NAME=DEEPROM    ROM=eedata          // Data EEPROM

