# Microchip MPLABX
# =========================
*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.map
html/
parts/
nbproject/private/
nbproject/Package-*.bash
nbproject/Makefile-*
build/
debug/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
funclist
disassembly/
